@font-face {
    font-family: 'Arapey';
    src: url(../fonts/Arapey/Arapey-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
:root{ 
    --cor-primaria: #181f27;
    --cor-secundaria: #e5d3ba;
    --cor-fundo: #2b2b2b; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e5d3ba;
    color: #181f27;
    font-family: 'Roboto';
    overflow-x: hidden;
    min-width: 735px;
    max-width: 100vw;
}
h1{
    font-size: xx-large;
}
h2{
    font-size:x-large;
}
h1, h2{
    font-family: 'Arapey';
    font-weight: bolder;
}
h3, h4, h5, h6{
    font-family: 'Roboto';
    font-weight: bolder;
}
p{
    font-family: 'Roboto';
    font-weight: 500;
}
hr{
    width: 100%;
    padding: 2px;
    background: linear-gradient(to right, #181f27, #e5d3ba);
    border: 1px transparent;
    border-radius: 10%;
}

#bg.blur{
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
}
.unblur{
    filter: none !important;
}

/*CABEÇALHO*/
header{
    background-color: #181f27;
    color: #e5d3ba;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    z-index: 3;
}
header .logo a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Arapey';
}
header .logo img{
    height: 75px;
    width: auto;
    padding-right: 15px;
}
.barra-pesquisa{
    background-color: transparent;
    border: solid 2px #e5d3ba;
    color: #e5d3ba;
    height: 65%;
    width: 50%;
    padding: 20px 0;
    margin: 0 25px;
    border-radius: 10px;
}
header menu{
    width: 50%;
    padding: 25px;
}
header ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 15px;
}
header ul li{
    height: 100%;
}
header a{
    color: #e5d3ba;
    text-decoration: none;
}
header menu a{
    font-size: 17px;
    padding: 30px 50px;
    background-image: linear-gradient(#e5d3ba ,#e5d3ba);
    background-size: 100% 0;
    background-repeat: no-repeat;
    transition: .4s;
}
header menu a:hover{
    background-size: 100% 100%;
    color: #181f27;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #181f27;
    color: #e5d3ba;
}
.nav-link{
    text-decoration: none;
    color: #e5d3ba;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu {
    display: none;
}
@media screen and (max-width: 1250px){
    .mobile-menu.open {
        display: block;
        position: sticky;
        top: 75px;
        z-index: 5;
        background-color: #181f27;
        color: #e5d3ba;
    }
    header menu{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon .icon{
        position: relative;
        top: 2px;
        width: auto;
        height: 75px;
    }
    .mobile-menu-icon .icon:hover{
        box-shadow: 0 2px #e5d3ba;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 3rem;
        border-top: 1px solid #e5d3ba;
    }
    .nav-item{
        display: block;
        justify-content: space-around;
        height: 0;
        width: 100%;
        padding: 2rem 0;
    }
    .nav-link{
        display: list-item;
        position: relative;
        padding: 1.5rem 0;
    }
    .nav-link:hover{
        background-color: #e5d3ba;
        color: #181f27;
    }
}
/*CORPO*/
.banner{
    display: block;
    position: relative;
    width: 100%;
    pointer-events: none;
    user-select: none;
}
.banner .background{
    object-fit:cover;
    object-position: 50% 100%;
    width: 100%;
    height: 625px;
}
.logo-banner{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 625px;
    background: radial-gradient(#e5d3ba80, transparent, transparent);
}
.logo-banner .logo{
    position: absolute;
}

/*SACOLA / CARRINHO*/
.sacola{
    position: fixed;
    top: 20%;
    z-index: 5;
    width: fit-content;
}
.icone-sacola{
    padding: 10px;
    background-color: #181f27;
    border: 2px solid #fff;
    border-left: none;
    border-radius: 0 25px 25px 0;
}
.icone-sacola:hover{
    box-shadow: 2px 2px 10px #181f27;
}
.icone-sacola img{
    height: auto;
    width: 5vw;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.pop-carrinho{
    display: none;
}
.pop-carrinho.open{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 4;
    height: 100%;
    width: 100%;
}
.carrinho{
    display: flex;
    flex-direction: column;
    max-height: 70%;
    width: 450px;
    padding: 35px;
    background: #181f27;
    color: #e5d3ba;
    border-radius: 10px;
}

.carrinho .cabecalho-carrinho { 
    display: flex;
}

.carrinho .cabecalho-carrinho button{
   cursor: pointer;
   width: 40px;
   height: 40px;
   font-size: 2rem;
   line-height: 50%;
   color: var(--cor-secundaria);
   background: var(--cor-fundo);
   border: 2px solid #fff;
   border-radius: 8px 25px 25px 8px;
}

.carrinho .cabecalho-carrinho button:hover{
    color: var(--cor-primaria);
    background: var(--cor-secundaria);
    border-color: var(--cor-primaria);
}

.carrinho .cabecalho-carrinho h2{ 
    margin: auto;
    text-align: center;
    color: var(--cor-secundaria);
}
.input-cliente{
    background-color: transparent;
    border: solid 2px #e5d3ba;
    color: #e5d3ba;
    min-height: 30px;
    width: 60%;
    border-radius: 5px;
    font-size: 20px;
}

.carrinho ul{
    overflow-y: auto;
    overflow-x: hidden;
}

.carrinho .carrinho-item{ 
    display: flex;
    position: relative; 
    width: 90%;
    margin: 30px;
    height: 20vh;
    border-radius: 30px 10px 10px 30px;
    background-color: var(--cor-secundaria);
    box-shadow: 0 4px 10px var(--cor-fundo);
    user-select: none;
}

.carrinho .carrinho-item .imagem{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 65%;
    pointer-events: none;
}
.carrinho .carrinho-item img{ 
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px 0 0 25px;
}
.carrinho .carrinho-item .info{ 
    width: 100%; 
    height: 100%;
    border: 14px solid transparent; 
    border-right-width: 5px;
    color: var(--cor-primaria);
}

.carrinho .carrinho-item .detalhes{ 
    overflow-y: auto;
    height: 70%;
}

.carrinho .carrinho-item .preco{ 
    color: var(--cor-primaria);
    bottom: 0;
}
.preco p{
    position: absolute;
    margin-top: 15px;
    bottom: 6px;
    background: #e5d3baac;
}
.carrinho .carrinho-item .contador{ 
    position: absolute;
    right: 15px;
    bottom: 0;
    margin-top: 15px;
    text-align: center;
}
.carrinho .carrinho-item .contador .bx{ 
    cursor: pointer;
    width: 25px; 
    height: 35px; 
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    background: var(--cor-primaria);
    color: #fff;
    border: 2px solid var(--cor-primaria);
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}
.carrinho .carrinho-item .contador .bx:hover{ 
    color: var(--cor-primaria);
    background: var(--cor-secundaria);
}
.carrinho .carrinho-item .contador .quantidade{ 
    max-width: 25px;
    margin: 0 6px; 
    font: 700 1rem; 
    text-align: center;
    background: #e5d3baac;
    color: var(--cor-primaria);
}

.carrinho .finalizar {
    cursor: pointer;
    width: 100%;
    margin-top: 10px; 
    padding: 15px 0; 
    color: var(--cor-fundo);
    background: var(--cor-secundaria);
    border: 2px solid var(--cor-primaria);
    border-radius: 8px;
    transition: 0.3s;
}

.carrinho .finalizar:hover{ 
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
}
/**/

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.cardapio{
    width: 80%;
    margin-bottom: 50px;
}

.carrossel{
    min-height: min-content;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
@media (max-width: 760px) {
    .swiper-button-next {
      right: 15px;
      transform: rotate(90deg);
    }
    .swiper-button-prev {
      bottom: 41px;
      transform: rotate(90deg);
    }
    .cardapio{
        width: 70%;
    }
    .slide-content{
        padding-right: 0 !important;
    }
}
.swiper-navBtn{
    color: #fff;
    text-shadow: 3px 0 #181f27;
    transition: .3s ease;
}
.swiper-navBtn:hover{
    color: #e5d3ba;
    text-shadow: 0px 0px 5px #181f27;
    font-weight: 900;
}
.swiper-button-disabled{
    color: #2b2b2b;
    text-shadow: 0 0 5px #181f27;
    font-weight: 100;
    font-size: small;
}

.slide-container{
    width: 100%;
    height: 100%;
}
.slide-content{
    margin: 0 40px;
    padding-right: 200px;
    min-height: min-content;
    max-height: 1000px;
}
.card{
    height: fit-content;
    min-height: 420px;
    max-height: 40%;
    border-radius: 30px 30px 10px 10px;
    margin: 0 15px;
    background-color: #181f27;
    color: #e5d3ba;
}
.card-content{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    min-height: 220px;
    justify-content: space-between;
}
.card-content h2, .card-content p, .card-content .add-button{
    z-index: 2;
}
.image-content{
    position: relative;
    row-gap: 5px;
}
.card-image{
    align-content: center;
    position: relative;
    height: 200px;
    border-radius: 25px 25px 0 25px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 25px;
    user-select: none;
}

.nome{
    color: #e5d3ba;
}
.descricao{
    min-height: 50px;
    color: #e5d3ba;
}
.valores{
    
    width: 100%;
    bottom: 0;
}
.valor{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    width: 100%;
}
.preco{
    color: #e5d3ba;
}
.add-button{    
    border: none;
    font-size: 25px;
    padding: 0 15px;
    border-radius: 5px;
    margin: 10px 0;
    border: 2px solid #e5d3ba;
    background-color: #e5d3ba;
    color: #181f27;
    transition: all .3s ease;
    user-select: none;
}
.add-button:hover{
    background-color: #181f27;
    color: #e5d3ba;
    cursor: pointer;
}

/*RODAPÉ*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #181f27;
    color: #e5d3ba;
}
.sobre{
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 25px 0;
}
.sobre img{
    object-fit: scale-down;
    padding: 25px 15px 25px 0;
}