<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Adm</title>
</head>
<body>
    <form method="POST" action="/loginAdm">
        <label>Login: </label>
        <input type="text" name="loginAdm"><br/><br/>
        
        <label>Senha: </label>
        <input type="text" name="senhaAdm"><br/><br/>
        
        <button class="botao" type="submit">Login Adm</button>
    </form>
</body>
</html>